
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor:#3d3d3d;
    --mrgn:10px;
    --btn:#ff9f1a;
}
.wrapper{
    width: 20rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: var(--bgcolor);
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
}
.wrapper img{
    width: 7rem;
}
.content{
    padding:10px;
}
.content h1{
    font-size: 2rem;
    color: #fff;
    font-family: monospace;
}
.content p{
    font-size: 1.2rem;
    color: #fff;
    font-family: monospace;
    margin-top: var(--mrgn);
}
.buttton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--mrgn);
}
.buttton button{
    background-color:var(--btn);
    padding: 5px 10px;
    outline: none;
    border: none;
}
.buttton a{
    color: #fff;
    padding: 5px 10px;
    outline: none;
    border: none;
}