
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor:#3d3d3d;
}
.wrapper{
    width: 20rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: var(--bgcolor);
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
}
.wrapper img{
    width: 10rem;
}